# cmake stuff
Testing/
dynet/Testing/
dynet/tests.bin/
CTestTestfile.cmake
config.h
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
python/dynet.cpp
python/dist/
python/dyNET.egg-info/

# binaries
build/
Debug/
*.model

#data
rnnlm/ptb-mikolov/

# Python temporary files
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.jnilib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log

# Editor stuff
*.swp
.vscode

# Doc stuff
doc/doxygen/xml
doc/source/tutorials_notebooks

# sbt stuff
target
.idea
.bsp

.RData

# platform specific
.DS_Store

# ignore libtorch. we assume you've put it here.
libtorch/
